
<article class="comment mb-3 border pt-2 px-3 pb-1" comment-id="{{id}}">
    <p class="content mb-1">{{content}}</p>

    <div class="meta mb-1 fst-italic">
        {{user.username}}&nbsp;&nbsp;|&nbsp;&nbsp;{{format_date createdAt}}&nbsp;
        
        {{#if (compare user.id currentUserId)}}
            &nbsp;<button class="delete-comment-btn btn btn-sm my-2"><i class="fa-regular fa-trash-can"></i></button>
        {{/if}}
    </div>

    {{#if (compare user.id currentUserId)}}
        <script src="/javascript/comment/delete.js"></script>
    {{/if}}
</article>