<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Tech Blog{{#if page_subtitle}} | {{page_subtitle}}{{/if}}</title>
</head>

<body>
    <header>
        <h1>Tech blog</h1>

        <nav>
            <a href="/dashboard">Dashboard</a>
            {{#if loggedIn}}
                <button type="button" class="btn btn-link logout-btn">Logout</button>
            {{else}}
                <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        Designed and coded by Noah Becker&nbsp;&nbsp;<span class="border-start border-dark">&nbsp;&nbsp;&copy;&nbsp;<span class="this-yr"></span>
    </footer>

    <script src="javascript/footer.js"></script>
</body>
</html>