
<h3>Welcome, {{user.username}}</h3>

<div class="posts-wrapper">
    {{#each user.posts as |post|}}
        {{>post-info post=post showUsernames=false linkedTitle=true}}
    {{/each}}
</div>

<div class="update-user-info-wrapper">
    <button id="update-password-dashboard-btn" type="button" class="btn btn-primary">Update password</button>
    <button id="update-username-dashboard-btn" type="button" class="btn btn-primary">Update username</button>
    <button id="update-email-dashboard-btn" type="button" class="btn btn-primary">Update email</button>
    <button id="delete-account-dashboard-btn" type="button" class="btn btn-primary">Delete account</button>
</div>

<script src="/javascript/update-user-info/dashboard-btns.js"></script>