
{{#with post}}
    {{>post-info post=this currentUserId=../currentUserId linkedTitle=false editNow=../editNow}}
{{/with}}

<div class="comments-wrapper">
    {{#each post.comments}}
        {{>comment this currentUserId=../currentUserId}}
    {{/each}}
</div>