
<form id="delete-account-form" class="text-center d-flex flex-column align-items-center">
    <label for="password" class="mb-2">Enter your password to confirm account deletion:</label>
    <input type="password" id="password" placeholder="password" />

    <button type="submit" class="btn btn-danger mt-2">Delete my account</button>
    </div>
</form>

<script src="/javascript/user/delete-account.js"></script>