

<form id="delete-account-form">
    <div>
        <label for="password">Enter your password to confirm account deletion:</label>
        <input type="password" id="password" />
    </div>

    <div>
        <button type="submit">Delete my account</button>
    </div>
</form>

<script src="/javascript/update-user-info/delete-account.js"></script>