
<form id="update-email-form" class="text-center d-flex flex-column align-items-center">
    <label for="new-email">New email address:</label>
    <input type="text" id="new-email" placeholder="user@email.com" />

    <label for="password">Re-enter password:</label>
    <input type="password" id="password" placeholder="password" />

    <button type="submit" class="btn btn-primary mt-2">Update email</button>
</form>

<script src="/javascript/user/email.js"></script>