
<form id="update-email-form">
    <div>
        <label for="new-email">New email address:</label>
        <input type="text" id="new-email" />
    </div>

    <div>
        <label for="password">Re-enter password:</label>
        <input type="password" id="password" />
    </div>

    <div>
        <button type="submit">Update email</button>
    </div>
</form>

<script src="/javascript/update-user-info/email.js"></script>