
<form id="update-password-form">
    <div>
        <label for="old-password">Old password:</label>
        <input type="password" id="old-password" placeholder="password" />
    </div>

    <div>
        <label for="new-password">New password:</label>
        <input type="password" id="new-password" placeholder="password" />
    </div>

    <div>
        <button type="submit">Update password</button>
    </div>
</form>

<script src="/javascript/update-user-info/password.js"></script>