
<form id="update-password-form" class="text-center d-flex flex-column align-items-center">
    <label for="old-password">Old password:</label>
    <input type="password" id="old-password" placeholder="password" />

    <label for="new-password">New password:</label>
    <input type="password" id="new-password" placeholder="password" />

    <button type="submit" class="btn btn-primary mt-2">Update password</button>
</form>

<script src="/javascript/user/password.js"></script>