
<form id="update-username-form">
    <div>
        <label for="new-username">New username:</label>
        <input type="text" id="new-username" placeholder="username123" />
    </div>

    <div>
        <label for="password">Re-enter password:</label>
        <input type="password" id="password" placeholder="password" />
    </div>

    <div>
        <button type="submit">Update username</button>
    </div>
</form>

<script src="/javascript/update-user-info/username.js"></script>